# 祕密設定（一定不能進 git）
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# 虛擬環境
venv/
.venv/

# Django
*.log
*.sqlite3

# collectstatic 產生的靜態檔（部署時自動生成，不進 git）
staticfiles/

# 本機 MySQL 資料目錄（若放在專案內時）
mysql-data/



# 編輯器
.vscode/
.idea/
.DS_Store
